.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 10px;
    border-radius: 0px;
    margin: 1em 0px 1em;
}
.warn {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 10px;
    border-radius: 0px;
    margin: 1em 0px 1em;
}
.alert {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 10px;
    border-radius: 0px;
    margin: 1em 0px 1em;
}
